*{margin:0;padding:0;}:focus,:active {outline:0}ul,ol{list-style:none}img{border:0}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;

}

.area {
    width: 33%;
    text-align: center;
    flex: 1 1 auto;
    align-self: flex-start;
}

.area div {
    color: #1E4389;
}

#login_form {
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 20px auto 0 auto;
    background-color: #FFF;
}

#_header {
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    display: block
}

#_header p {
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding-top: 10px;
    text-transform: none
}

#_subheader{
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding-top: 10px;
    text-transform: none
}

a {
    text-decoration: none
}

.alert_msg, .error_msg {
    background-color: #FFFFFF;
    border: 1px solid #01579b;
}

.alert_title {
    border-bottom: 1px solid #0288D1;
    color: #01579b;
}

.error_title {
    color: rgba(200, 6, 6, 1);
    border-bottom: 1px solid #03A9F4;
}

.alert_title span, .error_title span {
    padding-left: 10px;
    font-size: 1em
}
